@import 'reset.css';

.cursor-follow {
    position: absolute;
}

.space {
    width: 25px;
    height: 25px;
    border: solid 2px black;
}

.hit-square {
    background-color:red;
}

.miss-square {
    background-color: navy;
}

.empty-square {
    background-color: blue;
}

.clickable {
    cursor: pointer;
}

.ship-square {
    background-color: grey;
}

.board-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.main-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vertical-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}